@import 'tailwindcss';
@import "./fonts.css";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@theme { --font-sans: "Poppins"; }
::-webkit-scrollbar { width: 12px; height: 8px; }
::-webkit-scrollbar-track { background: #171717; }
::-webkit-scrollbar-thumb { background-color: #fe9b0d; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background-color: #fe9b0d; }

